MONGODB_URL= "mongodb+srv://alfagason:Bituke00..@login.yay2xvf.mongodb.net/?retryWrites=true&w=majority"
PORT=
TOKEN_SECRET_KEY="hvdvay6ert72839289()aiyg8t87qt72393293883uhefiuh78ttq3ifi78272jbkj?[]]pou89ywe"
TMDB_BASE_URL=
TMDB_KEY=